.todos-parent{
    display: grid; 
    grid-template-columns: 50% 50%; 
    justify-content: center;
    padding-top: 10vh; 
    padding-left: 30vh; 
    padding-right: 30vh; 
    font-family: 'KoHo', sans-serif
}

.todo-list{
    display: grid;
    justify-content: center;
    max-width: 30%;
    grid-auto-columns: max-content;
    padding-left: 5vh; 
}

.todo-form{
    padding-right: 5vh; 
}

.todo-form > * {
    /* display: flex; */
    padding: 1vh; 
}

.todo-item{
    padding: 1vh;  
}

li {
    margin: .5vh;
}